<html>
    <head>
        <title>Video Streaming Demonstration</title>
        <meta name="referrer" content="no-referrer" />
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
        <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='index.js')}}"></script>
    </head>
    <body>
        <h1>Allow your Make Up more easier</h1>
        <div class="eyebrows">
            <label>eyebrows</label>
            <select id="eyebrows">
                <option value="8B4513" selected="selected">SaddleBrown</option>
                <option value="696969">DimGray</option>
                <option value="000000">Black</option>
                <option value="8B7355">Burlywood</option>
            </select>
        </div>
        <div class="lips">
            <label>lips</label>
            <select id="lips">
                <option value="ff0000" selected="selected">Red</option>
                <option value="ff00ff">Purple</option>
                <option value="ffff00">Yellow</option>
                <option value="00ff80">Green</option>
            </select>
        </div>
        <div class="eyeliner">
            <label>eyeliner</label>
            <select id="eyeliner">
                <option value="87CEEB" selected="selected">SkyBlue</option>
                <option value="191970">MidnightBlue</option>
                <option value="9370DB">MediumPurple</option>
                <option value="FF1493">DeepPink</option>
            </select>
        </div>
        <button class="show" type="button" onclick="updateStyles()">Update Styles</button>
        <img id="bg" src="{{ url_for('video_feed') }}">
    </body>
</html>